@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.queue-item:nth-child(2n) {
  background-color: grey;
}
.queue-item:nth-child(2n + 1) {
  background-color: cornflowerblue;
}

.playback-btn {
  padding: 10px;
  border: medium 1px black;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.track-queue {
  max-height: 600px;
  overflow-y: auto;
  font-size: small;
}
.controls {
  padding: 10px;
}

.search-container {
  padding: 10px;
}

.vinyl-container {
  align-items: center;
  justify-content: center;
}

.playback-queue-container {
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  color: #282c34;
  max-width: 520px;
}

.track-container {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  height: 200px;
  padding: 10px;
  font-size: medium;
}

.image1 {
  height: "500px";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  z-index: 2;
}

.image2 {
  height: 22vmin;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
}

.vinyl {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .vinyl {
    animation: vinyl-spin infinite 1.818s linear; /* 1.818 seconds per rotation */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
